* {
  margin: 0;
  padding: 0;

  line-height: 1.4em;

  /* -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;  */
                                  
}
*:focus {
  outline: none;
}


@media print
{
    

      

      #print, #history, #loglink, #back, .wroc, span, #zmien, #szukaj
      {
          display: none;
      }
      
     body
      {
          background: none;
      }
      table.blueTable
      {
        min-width: 30% !important;
       
      }

      
     


}

#showdb
{
  height: 54px;
  margin-left: 8px;
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  top: 192px ! important;
  right: 5px !important;
  background-color: white;
  margin-top: 0.5%;
  border: 2px solid gray;
  color: black;
  text-decoration: none;
  padding-top: 30px;

}

.comdozam
{
  position: fixed;
    bottom: 4px;
    left: 6px;
    height: 59px;
    border: 2px double cadetblue;
}

.ilosc {
  border: 0;
  font-size: 21px;
  height: 45px;
  font-weight: bold;
  width: 45px;
  padding: 2px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid lightslategrey;
  float: left;
  cursor: context-menu;

  
}



.countbtn {
  width: 45px;
  height: 45px;
    
    padding: 2px;
    box-sizing: border-box;
    
    text-align: center;    
    FONT-SIZE: 37px;
    background: rgb(137, 137, 137);
    color: rgb(65, 64, 64);
    border: 3px solid rgb(70, 70, 70);
    cursor: context-menu;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    
   
 
}


.countbtn a
{
  position: relative;
  display: block;
  bottom: 16px;


}


.ilosc:focus {
  outline: none;
}

.count {
    float: left;
    margin-right: 1%;
    margin-top: 1%;
    
   

}
.countup {
 float: left;

 
    
    
}

.countdown {
  float: left;
  text-align: center;
 
   
   
    
}


button {
  border: 0;
  outline: 0;
}

input {
  border: 0;
}

body {
  background-color: #565454;
}

#wejscie {
  width: 50%;
  background-color: #898989;
  height: 50px;
  font-size: 25px;
  margin-top: 0.5%;
  border: 3px solid #464646;
  color: #414040;
  cursor: context-menu;
  
  
}

#wejscie:focus {
  outline: none;
}
.wroc
{
  height: 54px;
  
  margin-left: 8px;
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  top: 5px ! important;
    right: 5px !important;
  background-color: white;
  margin-top: 0.5%;
  border: 2px solid gray;
  color: black;text-decoration: none;
  padding-top: 26px;
}
#print
{
  
    position: absolute;
   
    background-color: transparent;
    width: 5%;
    border:none;
    right: 25%;
    top: 5%;
    
}
#print img
{
  width: 100%;
}



#wroc a :hover
{
  color: #000000;
}

#wyslij
{
  background-color: transparent;
    width: 5%;
    position: fixed;
    left: 2%;
    top: 5%;
}
#wyslij img
{
  width: 100%;
}
#logout
{
  display: block;
    position: absolute;
    right: 3%;
    top: 10%;
}
#back 
{
  font-size: 90px;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 3%;

}
#closelogwindow
{
  position: absolute;
    left: 5%;
    top: 1%;
    font-size: 76px;
    font-weight: bold;
    color: #f84421;
    cursor: context-menu;
}
#back a:hover
{
 color: #FFFFFF; ;
}


#userlogin
{
  color: #dbdada;
    display: block;
    margin-top: 10%;
}
#account img 
{
  width: 100%;
}
#add {
  
  
  
  //font-weight: bold;
  background-color: transparent;
  color: #FFFFFF;
  vertical-align: middle;
  position: relative;
    bottom: 7px;
  
}
#add i
{
  font-size: 80px;
}
#znaczki
{
  position: fixed;
  bottom: 1% !important;
  left: 49% !important;
  color: #dbdada;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
}
#znaczki a 
{
  color: #dbdada;
  font-size: 26px;
  text-decoration: none;
}
#znaczki a:hover
{
  color: #dbdada;
}

#clear {
  height: 54px;
  
  
  color: #FFFFFF;
  background-color: transparent;
  font-weight: bold;
  position: relative;
    top: 8px;
  
}
#clear i 
{
  font-size: 58px;
}

#lista {
  margin-left: 26%;
  width: 50%;
  margin-top: 4%;

}

#lista li {
  font-size: 50px;
  font-weight: bold;
  color: #000000;
  list-style-type: none;
  margin-bottom: 4%;
  display: block;
}

.toGet
{
  font-size: 43px;
    
    color: #dbdada;
    background-color: #707070;
    list-style-type: none;
    margin-bottom: 4%;
    width: 66%;
    
    position: relative;
    z-index: -1;
    
    border: 3px solid #383737;
}

#lista button {
  
  
  background-color: transparent;
    float: right;
    font-size: 57px;
    font-weight: bold;
    margin-left: 1%;
    color: #707070;
    
   
}




/* .blueTable td
{
  border: 2px solid black;
  
} */


#cien
{
    width: 100%;
    height: 100%;
    background-color: #484545b8;
    z-index: 1;
    position: fixed;
    top: 0;

    display: none;
}

#logwindow, #registrationwindow
{
  margin-left: 35%;
    position: absolute;
    margin-top: 11%;
    background-color: #898989;
    width: 30%;
    height: 60%;
    border-radius: 30px;
    top: 0%;
    z-index: 3;
    
    


 
}
#logwindow
{
 display: none;
}

#logwindow  input, #registrationwindow input  
{
      
  width: 90%;
  margin-left: 5%;
  border: 2px solid #464646;
  background-color: #707070;
  color: #b3b3b3;
  height: 35px;
  margin-top: 10px;
  padding-left: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}
#logwindow img, #registrationwindow img
{
  width: 30%;
  margin-left: 35%;
}
#logwindow input::placeholder, #registrationwindow input::placeholder
{    
  color: #948d8d;    
}
 
#history img 
{
  margin-top:20px;
}


.logBtn {
  width: 90%;
    margin-left: 5%;
    border-radius: 3px;
    margin-top: 5px;
    color: #8e8e8e;
    height: 8%;
    font-weight: bold;
    background-color: #464646;
    font-size: 15px;
}
.logBtn a
{
  color: #8e8e8e;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  margin-top: 2%;
  cursor: context-menu;
  box-sizing: border-box;
}



#logIn
{
  margin-top: 15px;
  margin-bottom: 1%;
  height: 40px;
}


#loglink
{
  position: fixed;
    right: 5%;
    top: 5%;
    width: 19%;
   min-height: 12%;
    background-color: #707070;
    z-index: 3;
    text-align: center;
    font-size: 29px;
    border: 3px solid #464646;
    
    box-sizing: border-box;
}


#loglink a 
{
  
  
  text-decoration: none;
  color: #dbdada;
  display: block;
  width: 30%;
  height: 64px;
  float: right;
}
#loglink a:hover
{
  color: #dbdada;
}


#unloglink a 
{
  
  
  text-decoration: none;
  color: #dbdada;
  display: block;
  width: 100%;
  height: 100%;
  
}
#unloglink a:hover
{
  color: #dbdada;
}


#unloglink
{
  position: fixed;
  right: 5%;
  top: 5%;
  width: 11%;
  background-color: #707070;
  z-index: 3;
  text-align: center;
  font-size: 29px;
  border: 3px solid #464646;
  box-sizing: border-box;
  padding: 1%;
}


#changepassword
{
  width: 10%;
  display: block;
  position: absolute;
  top: 3%;
  left: 0%;
}
#changepassword img
{
  width: 100%;
}

#browse
{
  position: sticky;
  top: 3%;
  margin-top: 17%;
  margin-left: 20%;
}


#zmien
{
  width: 20%;
  height: 30px;
  margin-left: 40%;
}
#szukaj
{
  background-color: transparent;
    width: 2%;
    margin-left: 1%;
    position: relative;
    bottom: -17px;
}
#szukaj img
{
  width: 100%;
}



table.blueTable {
  
  background-color: #707070;
    width: 36%;
    text-align: left;
    border-collapse: collapse;
    margin-left: 32%;
    margin-top: 5%;
    color: #c5c5c5;
}
table.blueTable td, table.blueTable th {
  
  padding: 3px 2px;
  border: 1px solid #232222;
}

table.blueTable th
{
  background-color: #464646;
  color: #d6d6d6;
}

table.blueTable tbody td {
  font-size: 13px;
  
}
table.blueTable  tbody tr td a.rowhref {
  display: block;
  width: 100%;
  height: 100%;
  color: #000000;
  text-decoration: none;
}

table.blueTable tr:nth-child(even) {
  background: #c9c9c9;
  color: #232020;
}

table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}

table.blueTable  th a
{
  text-decoration: none;
  color: inherit;
}

table.blueTable  th a:hover
{
color: #ff7777;
}


table.blueTable thead th:first-child {
  border-left: none;
  
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  
}
